* {
	font-family: 'Lato', sans-serif;
}

html {
	font-family: 'Lato', sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
}

.ma-table.ma-table-fixed td {
    white-space: normal;
}

.expandable-table-data tr.expand-tr ~ tr[style="display: table-row;"] td, .expandable-table-data tr.expand-tr ~ tr[style="display: table-row;"] td.background--white, .expandable-table-data tr.expand-tr ~ tr[style="display: table-row;"] td.cooking-info, .expandable-table-data tr.expand-tr ~ tr[style="display: table-row;"] td.[colspan="2"] {
	padding-left: .5rem !important;
}

.expandable-table-data tr.expand-tr ~ tr[style="display: table-row;"] td {
	padding-left: .5rem !important;
}

.ma-table-header tr th:first-child {
	width: 450px;
}

.ma-table-header tr th:last-child {
	width: 200px;
}

@media (max-width: 1199px) {
	.ma-table-header tr th:last-child {
		width: auto;
	}
}

@media (max-width: 991px) {
	.ma-table-header tr th:first-child {
		width: auto;
	}
}

@media (max-width: 991px) {
	.ma-table-header tr th:first-child {
		width: auto;
	}
	.ma-container {
		max-width: 100%;
	}
}

/* YOUR CUSTOM CSS HERE */